.con{
    display: flex;
    justify-content: right;
}
.bgimg{
    width: 100%;
    height: 600px;
    background-image:url("img/img31.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:center;
    color: white;
    align-items: center;
    
}
h1{
    text-align: center;
    
}
