.d1{
    background-image: url("img/img31.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.d2{
    text-align: center;
    color:#fff;
    font-size: 60px;
    font-weight: 600px;
    padding: 170px;
    
}
.too1 h1{
    font-family: 'Bree Serif', serif;
    margin-top: 50px;
}
.too1 p{
    text-align: justify;
}
    
.too2{
    text-align: center;
}
.too2 h2{
    font-family: 'Bree Serif', serif;
    margin-top: 50px;
}
 h3{
    font-family: sans-serif;
    color: black;
}


